<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" manuallyInstalled="true" />
  <package id="Mono.Data.Sqlite" version="1.0.61" manuallyInstalled="true" />
  <package id="Newtonsoft.Json" version="10.0.3" />
  <package id="PhantomJS" version="2.1.1" manuallyInstalled="true" />
  <package id="Selenium.Firefox.WebDriver" version="0.27.0" manuallyInstalled="true" />
  <package id="Selenium.Helper" version="1.0.1" manuallyInstalled="true" />
  <package id="Selenium.Support" version="3.0.0" manuallyInstalled="true" />
  <package id="Selenium.WebDriver" version="3.10.0" />
  <package id="Selenium.WebDriver.ChromeDriver" version="122.0.6261.11100" manuallyInstalled="true" />
</packages>